<h2>{{ appSettings.title }}</h2>
<label for="custFilter">Filter:</label>
<input id="custFilter" type="text" ng-model="customerFilter.name"/>
<br/><br/>
<table class="table table-bordered">
    <thead>
    <tr>
        <th data-ng-click="doSort('name')">Name</th>
        <th data-ng-click="doSort('city')">City</th>
        <th data-ng-click="doSort('orderTotal')">Order</th>
        <th data-ng-click="doSort('joined')">Joined</th>
        <th>Orders</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
        <td>{{ cust.name }}</td>
        <td>{{ cust.city }}</td>
        <td>{{ cust.orderTotal | currency }}</td>
        <td>{{ cust.joined | date:'longDate' }}</td>
        <td><a href="#/orders/{{ cust.id }}">View Orders</a></td>
        <td class="text-center"><span class="glyphicon glyphicon-remove delete" data-ng-click="deleteCustomer(cust.id)"></span></td>
    </tr>
    </tbody>
</table>
<br>
<span>Total customers: {{ customers.length }}</span>
<br/><br/>
<footer>Version: {{ appSettings.version }}</footer>